main {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;*/
}

.chat {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* width: 50vw; Define a largura do chat */
  /* max-width: 600px; Limita a largura máxima do chat */
  background-color: #f5f5f5;
  /* Exemplo de cor de fundo */
  border-radius: 10px;
  /* Bordas arredondadas */
  padding: 20px;
  margin-top: 6px;
  /* Espaçamento interno */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Sombra para destaque */
  flex-direction: column;
  height: calc(81vh);
  /* Subtrai 20px para deixar um espaço no final */
}


.usuariosAtivos {
  display: flex;
  gap: 5px;
}

.usuariosAtivos img {
  height: 28px;
}

#messages {
  overflow-y: scroll;
  /* height: 100; */
  border: 1px solid #ccc;
  padding: 10px;
  width: 50vw;
  display: block;
  height: calc(100vh - 20px);
}

/* #inputName, #inputMessage {
  width: 50%;
  font-size: 18px;
  padding: 5px;
}  */

.user-message {
  color: #333;
}

.timestamp {
  font-size: 0.8em;
  color: #888;
  margin-left: 10px;
}

.envio {
  display: flex;
  /* width: 75%; */
  margin-top: 5px;

  gap: 5px;
}

.envio input{
  width: 100%;
  padding-left: 5px;
  border: 1px solid #ddd;
  word-wrap: "hard";
}

#messages-users_block {
  display: inline-block;
  width: 100%;
}

main button {
  background-color: #ced4da;
  font-weight: 400;
  font-size: 18px;
  color: #1d2125;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 5px 10px 5px 10px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

#activeUsers {
  display: flex;
  padding: 10px;
  overflow-y: scroll;
  flex-direction: column;
  height: 18vh;
}

#activeUsers h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

  #messages {
    width: 80vw;
  }
}