* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  /* margin: 20px; */
}

nav div img {
  max-height: calc(50px - (0.25rem * 2));
}

nav #elementoNome {
  font-size: 23px;
  color: white;
}

.fixed-top {
  box-shadow: none;
  background-color: #2f9e41;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 12px 28px 0px 28px;
}

.entradaChat {
  display: flex;
  justify-content: center;
  gap: 5px;
}

main {
  /* display: flex; */
  margin: 20px;
  align-items: center;
  padding: 0px 23% 0px 23%;
  font-size: 23px;
}

.usuariosAtivos{
  display: flex;
  gap: 5px;
}

.usuariosAtivos img{
  height: 28px;
}

#messages {
  overflow-y: scroll;
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  border-left: 1px solid #ccc;
}

#inputName, #inputMessage {
  width: 50%;
  font-size: 18px;
  padding: 5px;
} 

.user-message {
  color: #333;
}

.timestamp {
  font-size: 0.8em;
  color: #888;
  margin-left: 10px;
}

.envio{
  display: flex;
  width: 75%; 
  margin-top: 5px;
}

#messages-users_block{
  display: inline-block;
  width: 100%;
}

main button{
    background-color: #ced4da;
    font-weight: 400;
    font-size: 18px;
    color: #1d2125;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 5px 10px 5px 10px;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;

    cursor: pointer;
}

#activeUsers {
  display: flex;
  padding: 10px;
  margin-left: 10px;
  height: 100px;
  overflow-y: scroll;
  width: 25%; 
  margin-right: 10px;
}

#activeUsers h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  main {
    padding: 0px 0% 0px 0%;
  }

  .envio {
    width: 100%;
  }

  #inputName, #inputMessage {
    width: 100%;
  }
}