* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #E8F6EF;
}

nav {
  box-shadow: none;
  font-size: 23px;
  color: #FFFFFF;
  background-color: #00A878;
  display: flex;
  justify-content: space-around;
  padding: 8px 28px;
  align-items: center;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div img {
  height: calc(50px - (0.25rem * 2));
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entradaChat {
  background-color: #F5FFFA;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 81vw;
}

.descricaoChat {
  background-color: #e0f7fa;
  color: #006064;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.entradaChat input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  color: #555;
  outline: none;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.entradaChat input:focus {
  border-color: #00A878;
}

.entradaChat h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

#error-message {
  color: red; 
  display: none;
}

.entradaChat button {
  background-color: #FF6F61;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.entradaChat button:hover {
  background-color: #E55C52;
}

.destaquesFuncionalidades {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.destaquesFuncionalidades h3 {
  color: #333;
  margin-bottom: 15px;
  font-size: 22px;
}

.destaquesFuncionalidades ul {
  list-style: none;
  padding: 0;
}

.destaquesFuncionalidades ul li {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
  display: flex;
  align-items: center;
}